---
layout: default.hbs
title: plumage
---

<header class="container hero">
    <div class="row">
        <h1>plumage</h1>
        <p>a tattoo guide for first timers</p>
    </div>
</header>

<section class="container newsletter">
    <form class="row">
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="e.g. tat@to.com">
            <button type="submit">Submit</button>
        </p>
    </form>
</section>

<section class="container about">
    <div clss="row">
        <p>We are super awesome people which is why you should click this CTA to visit our blog.</p>
        <p><a class="btn" href="/blog">Visit blog</a></p>
    </div>
</section>

<footer class="container">
    <div class="row">
        <p>© 2015 plumage</p>
    </div>
</footer>