---
layout: default.hbs
title: plumage
---

<header class="container hero">
    <div class="row">
        <div class="col-12">
            <h1 class="hero-title">plumage</h1>
            <p class="hero-tagline">a tattoo guide for first timers</p>
        </div>
    </div>
</header>

<section class="container section newsletter">
    <h1 class="h3">Newsletter</h1>
    <p class="">Just give us your email to get spammed, fun, fun, fun!</p>
    <form class="row form-inline">
        <p class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="e.g. tat@to.com">
            <button class="btn" type="submit">Submit</button>
        </p>
    </form>
</section>

<section class="container section about">
    <div class="row">
        <p class="lead">We are super awesome people which is why you should click this CTA to visit our blog.</p>
        <p><a class="btn" href="/blog">Visit blog</a></p>
    </div>
</section>

<footer class="container section footer">
    <div class="row">
        <p><small>© 2015 plumage</small></p>
    </div>
</footer>