---
layout: default.hbs
title: plumage
---

<header class="hero">
    <h1>plumage</h1>
    <p>Cool tagline</p>
</header>

<section class="newsletter">
    <form>
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="e.g. tat@to.com">
            <button type="submit">Submit</button>
        </p>
    </form>
</section>

<section class="about">
    <p>We are super awesome people which is why you should click this CTA to visit our blog.</p>
    <p><a class="btn" href="/blog">Visit blog</a></p>
</section>

<footer>
    <p>© 2015 plumage</p>
</footer>