//
// Buttons
//
.btn
    display: inline-block
    margin-bottom: 0
    text-align: center
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    background-image: none
    border: 2px solid transparent
    white-space: nowrap
    user-select: none
    text-decoration: none

    // styling
    padding: $padding-base-vertical $padding-base-horizontal
    font-size: $font-size-small
    line-height: $line-height-small
    border-radius: $input-border-radius
    color: $brand-dark
    border-color: $brand-dark
    font-family: $headings-font-family
    font-weight: $headings-font-weight
    letter-spacing: 0.05em
    text-transform: uppercase
    transition: all .2s ease-in-out
    background-color: transparent

    @media only screen and (max-width: $screen-sm-max)
        display: block
        width: 100%
        margin-top: ($line-height-computed/2)

    &:hover,
    &:focus
        background-color: $brand-dark
        color: #fff
        box-shadow: none
        text-shadow: none
        outline: 0

.btn-white
    border-color: #fff
    color: #fff

    &:hover,
    &:focus
        background-color: #fff
        color: $brand-dark


//
// Button Sizes
//
.btn-lg
    // line-height ensure even-numbered height of button next to large input
    button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large)

.btn-sm
    // line-height ensure proper height of button next to small input
    button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small)

.btn-xs
    button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small)