//
// Buttons
//
.btn
    display: inline-block
    margin-bottom: 0
    text-align: center
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    background-image: none
    border: 1px solid transparent
    white-space: nowrap
    user-select: none
    text-decoration: none

    // styling
    padding: $padding-base-vertical $padding-base-horizontal
    font-size: $font-size-base
    line-height: $line-height-base
    border-radius: 0
    color: $brand-grey-light
    border: 2px solid $brand-grey-light
    font-family: $font-family-headings
    font-weight: $font-weight-headings
    letter-spacing: 0.05em
    text-transform: uppercase
    transition: all .2s ease-in-out

    &:hover,
    &:focus
        background-color: $brand-grey-light
        color: #fff