body
    font-size: $font-size-base
    font-family: $font-family-base
    font-weight: $font-weight-base
    line-height: $line-height-base
    color: $brand-grey

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5
    font-family: $font-family-headings
    font-weight: $font-weight-headings
    margin-top: 0
    letter-spacing: 0.05em

h1, .h1
    font-size: $font-size-h1

h2, .h2
    font-size: $font-size-h2

h3, .h3
    font-size: $font-size-h3

h4, .h4
    font-size: $font-size-h4

h5, .h5
    font-size: $font-size-h5