$brand-purple           = #9d58e2
$brand-green            = #6ef8ba
$brand-grey             = #444
$brand-grey-light       = #8c919b

$font-size-base         ?= 16px
$font-size-large        ?= ceil(($font-size-base * 1.25))
$font-size-small        ?= ceil(($font-size-base * 0.85))

$font-size-h1           ?= floor(($font-size-base * 2.6))
$font-size-h2           ?= floor(($font-size-base * 2.15))
$font-size-h3           ?= ceil(($font-size-base * 1.7))
$font-size-h4           ?= ceil(($font-size-base * 1.25))
$font-size-h5           ?= $font-size-base
$font-size-h6           ?= ceil(($font-size-base * 0.85))

$font-family-base       ?= 'Lato', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif
$font-weight-base       ?= 300
$font-family-headings   ?= 'Advent Pro', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif
$font-weight-headings   ?= 400

$line-height-base       ?= 1.428571429
$line-height-computed   ?= floor(($font-size-base * $line-height-base))

$padding-base-vertical   ?= 12px
$padding-base-horizontal ?= 32px