
//
// All the sections
//
.section
    padding-top: $line-height-computed
    padding-bottom: $line-height-computed

    @media $screen-sm
        padding-top: ($line-height-computed * 2)
        padding-bottom: ($line-height-computed * 2)

.section-title
    @extend .h3
    margin-bottom: ($line-height-computed*1.85)
    position: relative

    &:after
        content: ""
        width: 2em
        height: 2px
        display: block
        position: absolute
        left: 50%
        margin-left: -1em
        bottom: -($line-height-computed)
        background: $brand-grey


//
// Hero
//
.hero
    background: transparent url('../img/IMG_2869.JPG') center bottom
    background-size: cover
    height: 100vh
    position: relative

    // image overlay
    &:before
        content: ""
        width: 100%
        height: 100%
        display: block
        position: absolute
        left: 0
        top: 0
        background: rgba(#6ef8ba, 20%)
        z-index: 4

.hero-title,
.hero-tagline
    @extend .text-center
    color: #fff
    text-shadow: 1px 1px 1px $brand-dark
    position: relative
    z-index: 5

.hero-title
    @extend .section-title
    margin-top: 0
    padding-top: 35vh

    &:after
        background: #fff

.hero-tagline
    font-size: $font-size-large
    margin-bottom: ($line-height-computed*4)


//
// Benefits
//
.benefits
    @extend .text-center
    background: $brand-green
    color: $brand-dark

    p
        margin-bottom: 0


//
// Newsletter
//
.newsletter
    background-color: $brand-dark
    @extend .text-center

    .newsletter-title,
    .newsletter-text,
    .newsletter-label,
    .btn
        color: #fff
        margin-top: 0

    .btn
        border-color: #fff

        &:hover
            background-color: #fff
            color: $brand-dark

.newsletter-textinput
    border: none
    background-color: $brand-green
    color: $brand-dark
    placeholder(color: $brand-dark,)
    min-width: 320px

    &:focus
        background-color: $brand-green-light


.newsletter-title,
.newsletter-label
    @extend .visuallyhidden


//
// About
//
.about
    @extend .text-center



//
// Footer
//
.footer
    border-top: 2px solid $brand-grey
    padding-top: ($line-height-computed/2)
