
//
// Hero
//
.hero
    background-image: url('../img/IMG_8807.JPG')
    background-size: cover
    color: #fff !important
    height: 500px

.hero-title
    padding-top: $line-height-computed

//.hero-tagline


//
// Newsletter
//
.newsletter
    background-color: $brand-green