
//
// All the sections
//
.section
    padding-top: $line-height-computed
    padding-bottom: $line-height-computed

    @media $screen-sm
        padding-top: ($line-height-computed * 2)
        padding-bottom: ($line-height-computed * 2)

.section-title
    @extend .h3
    margin-bottom: ($line-height-computed*1.85)
    position: relative

    &:after
        content: ""
        width: 2em
        height: 2px
        display: block
        position: absolute
        left: 50%
        margin-left: -1em
        bottom: -($line-height-computed)
        background: $brand-grey


//
// Hero
//
.hero
    @extend .text-center
    background: transparent url('../img/hero.jpg') center bottom
    background-size: cover
    position: relative
    padding-top: ($line-height-computed * 2)
    padding-bottom: ($line-height-computed * 2)

    @media $screen-sm
        padding-top: ($line-height-computed * 6)
        padding-bottom: ($line-height-computed * 6)

    // image overlay
    &:before
        content: ""
        width: 100%
        height: 100%
        display: block
        position: absolute
        left: 0
        top: 0
        background: rgba(#6ef8ba, 20%)
        z-index: 4

.hero-title,
.hero-tagline
    color: #fff
    text-shadow: 1px 1px 1px $brand-dark
    position: relative
    z-index: 5

.hero-title
    @extend .section-title
    margin-top: 0

    &:after
        background: #fff

.hero-tagline
    font-size: $font-size-large
    margin-bottom: ($line-height-computed*2)


//
// Benefits
//
.benefits
    background: $brand-green
    color: $brand-dark

    .lead
        margin-top: $line-height-computed
        margin-bottom: ($line-height-computed*2)

.benefit
    margin-bottom: ($line-height-computed*2)

.benefit-title
    @extend .h4, .text-center
    color: lighten($brand-dark, 5%)
    margin-top: $line-height-computed
    margin-bottom: $line-height-computed

.benefit-text
    color: lighten($brand-dark, 10%)
    text-align: left
    margin-bottom: 0

.icon-circled
    width: 62px
    height: 62px
    display: block
    background: $brand-dark
    border-radius: 100%
    margin: auto


//
// Newsletter
//
.newsletter
    @extend .text-center
    background-color: $brand-dark

    .newsletter-title,
    .newsletter-text,
    .newsletter-label,
    .btn
        color: #fff
        margin-top: 0

    .btn
        @extend .btn-white

.newsletter-textinput
    border: none
    background-color: $brand-green
    color: $brand-dark
    placeholder(rgba($brand-dark, 50%))

    @media $screen-sm
        min-width: 320px

    &:focus
        background-color: $brand-green-light


.newsletter-title,
.newsletter-label
    @extend .visuallyhidden


//
// About
//
.about
    @extend .text-center


//
// Footer
//
.footer
    @extend .text-center, .small
    margin-top: ($line-height-computed*2)

.link-social
    display: inline-block
    padding-left: 5px
    padding-right: 5px

    svg
        fill: $brand-grey
        transition: all .2s ease-in-out

    &:hover svg
        fill: $link-color